<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">AU-Angular-Practice</a>
    </div>
    <div class="list-group">
      <ul class="nav navbar-nav">
      <li><a routerLink="fillit">Fill it</a></li>
      <li><a routerLink="letusstudy">Let us study</a></li>
    </ul>

    </div>
  </div>
</nav>

<div class="routed">
  <router-outlet></router-outlet>
</div>

